@import url('~font-awesome/css/font-awesome.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font: normal normal 200 2rem Gill sans;
}

body {
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  left: 0;
}

nav {
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  background: #d9e8f8;
  width: 55px;
  /*  nav width  */
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0);
}

.logo {
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  margin: 10px 0 0 10px;
}

.logo img {
  width: 40px;
  height: 45px;
  border-radius: 50%;
  top: 0px;
  left: 0px;
  margin: -5px;
}

.logo span {
  font-weight: 600;
  padding-left: 2px;
  font-size: 18px;
  text-transform: uppercase;
}

a {
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: table;
  width: 300px;
  padding: 5px;
}

.nav-item {
  position: relative;
  top: -10px;
  margin-left: 18px;
  font-size: 16px;
  font-weight: 500;
}

a:hover {
  background: none;
}

.logout {
  position: absolute;
  bottom: 0px;
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  margin: 8px 0 0 8px;
}

.material-icons {
  font-family: 'Material Icons' !important;
}


.mat-icon{
  color: #333738;
}

.mat-icon:hover {
    color: rgb(116, 116, 116);
  }

/*....Nav ends hereee....*/

/*a card box
.docBox {
  width: 250px;
  margin: 80px;
  top: -15px;
  right: -10px;
}

.proBox {
  width: 250px;
  margin: 80px;
  top: -15px;
  right: 2px;
}
*/

.home {
  text-align: center;
  color: rgb(1, 75, 75);
  letter-spacing: 0.15rem;
  font: normal normal 500 2.5rem Gill sans;
}

/****   ....    ****/


.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/****/
@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
  .container > div:nth-child(2) {
    scale: 0.9;
  }
  .container > div:nth-child(2):hover {
    scale: 1;
  }
 
}

.container > div:nth-child(1),
.container > div:nth-child(3) {
  scale: 0.9;
}

.container > div:nth-child(1):hover,
.container > div:nth-child(3):hover {
  scale: 1;
}

.card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: scale 150ms ease;
  box-shadow: 0 0 10px #00000020;
  user-select: none;
}

.card:hover {
  scale: 1.1;
}

.card > div {
  padding: 40px 50px;
}

.card-header {
  background-color: #fb434b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card-header::after {
  content: "";
  width: 25px;
  height: 25px;
  rotate: 45deg;
  background-color: #fb434b;
  position: absolute;
  bottom: -7px;
}

.card-header p {
  font-weight: 600;
  font-size: 24px;
}

.card-body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 60px !important;
  border-radius: 10px 20px;
 
}

.buy-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 60px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 500;
}

.card-1 > .card-header,
.card-3 > .card-header {
  background-color: #d9dbdc;
}

.card-1 > .card-header::after,
.card-3 > .card-header::after {
  content: "";
  width: 25px;
  height: 25px;
  rotate: 45deg;
  background-color: #d9dbdc;
  position: absolute;
  bottom: -7px;
}


/**Old cards design but Mandatory for this new one!!*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
  height: 80%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 20px 16px 0 rgba(136, 135, 135, 0.9);
}

.container {
  margin-left: 85px;
  width: 100%;
}
/* Float four columns side by side */
.column {
  float: left;
  padding: 0 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.row {
  margin-left: 140px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
/* Media css for cards above 320px */
@media screen and (min-width: 300px) and (max-width:800px) {
  .card-header{
    width: 350%;
  }  
  .card-body{
    width: 350%;
  }  

}

/* Media css for cards above 375px */
@media screen and (min-width: 375px) and (max-width:800px) {
  .card-header{
    width: 350%;
  }  
  .card-body{
    width: 350%;
  }  

  .container{
    float: left;
    margin-left: -30px;
  }
}

/* Media css for cards above 425px */
@media screen and (min-width: 425px) and (max-width:800px) {
  .card-header{
    width: 400%;
  }  
  .card-body{
    width: 400%;
  }  

  .container{
    float: left;
    margin-left: -50px;
  }
}

/* Media css for cards above 768px Tablets */
@media screen and (min-width: 768px) and (max-width:800px) {
 
  .card-header{
    width: 400%;
  }  
  .card-body{
    width: 400%;
  }  

  .container{
    float: left;
    margin-left: -100px;
  }
}

/* Media css for cards above 1024px 
@media screen and (min-width: 1024px) and (max-width:1050px) {
  .card-header{
    width: 400%;
  }  
  .card-body{
    width: 400%;
  }  
  .buy-btn{

  }
  .container{
    float: left;
    margin-left: -100px;
  }
}
*/

/* Media css for cards 800 inspect */
@media screen and (min-width: 800px) and (max-width:990px) {
  .container > div:nth-child(1),
.container > div:nth-child(3) {
  scale: 0.9;
}

.container > div:nth-child(1):hover,
.container > div:nth-child(3):hover {
  scale: 1;
}

.card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: scale 150ms ease;
  box-shadow: 0 0 10px #00000020;
  user-select: none;
}

.card:hover {
  scale: 1.1;
}

.card > div {
  padding: 40px 50px;
}

.card-header {
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card-header::after {
  content: "";
  width: 25px;
  height: 25px;
  rotate: 45deg;
  background-color: #fb434b;
  position: absolute;
  bottom: -7px;
}

.card-header p {
  font-weight: 600;
  font-size: 24px;
}

.card-body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 60px !important;
  border-radius: 10px 20px;
  width: 100%;
}

.buy-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 60px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 500;
}

.card-1 > .card-header,
.card-3 > .card-header {
  background-color: #d9dbdc;
}

.card-1 > .card-header::after,
.card-3 > .card-header::after {
  content: "";
  width: 25px;
  height: 25px;
  rotate: 45deg;
  background-color: #d9dbdc;
  position: absolute;
  bottom: -7px;
}
}
.homeTitos{
  color: #333738 !important;
}