.container {
    padding-left: 18px;
    padding-right: 28px;
  }
  
  .card {
    background-color: #1e2748;
    /*border-radius: 2em / 5em;*/
    border-radius: 10px;
    width: 129px; 
    height: 84px;
  }

  .device {
    color: #ffffff;
    font: normal normal 400 0.1rem Gill sans;
    padding: 1px;
  }
  
  .card:hover {
    box-shadow: 2px 1px 2px 2px rgba(136, 135, 135, 0.9);
  }
  
  .card span {
    font: normal normal 400 1rem Gill sans;
    color: whitesmoke;
  }
  
  .card h3 {
    font: normal normal 400 2rem Gill sans;
    color: whitesmoke;
  }
  
  
  .time {
    font: normal normal 200 0.8rem Gill sans;
    color: whitesmoke;
    bottom: 0px;
  }
  
  .pfont{
    font: normal normal 400 1.8rem Gill sans;
  }
  
  .spanFont{
    font: normal normal 300 1rem Gill sans;
  }
  
  .ppfont{
    font: normal normal 400 1rem Gill sans;
  }
  
  .docBut{
    float: right;  
    font-size: 20px; 
    font-weight: 500; 
    margin-top: -30px;  
    margin-right: -1px;
  }
  