<div class="row">
  <div class="left-col col-md-6">
    <img class="img-responsive" src="../../assets/vitagist.png" alt="">
  </div>

  <div class="right-col col-sm-6">
    <div class="cont">
      <p style=" font: normal normal 400 2rem Gill sans;">Login</p>
      <form class="content" [formGroup]="registerForm" (ngSubmit)="submitData(registerForm.value)">
        <div class="example">

          <div class="row">
            <div class="col-25"> <label for="email" class="inn"> Email: </label> </div>
            <div class="col-75">
              <input type="text" id="email" formControlName="email" [ngModel]="user_details?.email" class="form-control"
                placeholder="Enter your Email ID">
            </div>
          </div>

          <div class="row">
            <div class="col-25"> <label for="password" class="inn"> Password: </label> </div>
            <div class="col-75">
              <div class="form-group inner-addon right-addon">
                <div class="input-group col-2 mx-auto">
                  <input name="password" [type]="showPassword ? 'text' : 'password'" formControlName="password"
                    [ngModel]="user_details?.password" class="form-control" class="form-control pwd-control"
                    id="password-field" placeholder="Enter your Password">
                  <div>
                    <i alt="show" class="far fa-eye eye-show" (click)="showPassword = !showPassword" [class.hide]="!showPassword"></i>
                    <i alt="hide" class="far fa-eye-slash eye-hide" (click)="showPassword = !showPassword" [class.hide]="showPassword"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="text-center">
            <!--<button class="button" [disabled]="registerForm.invalid"><b>LOGIN</b></button>--> <br>
            <button mat-raised-button class="button" style="vertical-align:middle" [disabled]="registerForm.invalid">
              <p class="loginBtn">
                <span> Login</span>
              </p>
            </button>

          </div>
        </div>
      </form>

      <div class="footer" style="font-family: Times New Roman ;font-size: 15px; font-weight: 100;">
        &copy;VitaGist {{anio}}. All rights reserved.
        <!--<br><br>
        v2.1.14-dev-->
      </div>

    </div>
  </div>
</div>