<body>
  <nav>

    <ul>
        <li>
            <a href="https://vitagist.com/" class="logo">
                <img src="../../assets/vg.png" style="margin-left: -10px;" alt="">
                <!-- <div class="nav-item">
                    <span style="color:#004D87; font-weight: 500; font-size: 25px;">Vita</span> 
                    <span style="color: orangered; font-weight: 500; font-size: 25px;">Gist</span>
                </div>  -->
            </a>
            <!-- <span style="color:#004D87; font-weight: 500; font-size: 23px;">V</span>
            <span style="color: orangered; font-weight: 500; font-size: 23px;">G</span> -->
        </li>

        <li>
            <a routerLink="/side-bar" class="logo">
                <mat-icon style="margin-left: -10px; width: 40px; height: 31px;"
                 #tooltip="matTooltip"  matTooltip="HOME"  matTooltipPosition="right">home</mat-icon>
            </a>
            <!-- <span class="nav-item" style="color:#004D87">Home</span> -->
        </li>

        <li>
            <a routerLink="/document" class="logo">
                <mat-icon style="margin-left: -10px; width: 40px; height: 31px;"
                #tooltip="matTooltip"  matTooltip="DOCUMENTS"  matTooltipPosition="right">library_books</mat-icon>
            </a>
            <!-- <span class="nav-item" style="margin-left: 4px; color:#004D87">Document</span> -->
        </li>

        <li>
            <a routerLink="/connections" class="logo">
                <mat-icon style="margin-left: -10px; width: 40px; height: 31px;"
                #tooltip="matTooltip"  matTooltip="CONNECTIONS"  matTooltipPosition="right">group_add</mat-icon>
            </a>
        </li>

        <li>
            <a routerLink="/health" class="logo">
                <mat-icon style="margin-left: -10px; width: 40px; height: 31px;"
                #tooltip="matTooltip"  matTooltip="HEALTH"  matTooltipPosition="right">favorite_border</mat-icon>
            </a>
        </li>

        <li>
            <a routerLink="/chat" class="logo">
                <mat-icon style="margin-left: -10px; width: 40px; height: 31px;"
                #tooltip="matTooltip"  matTooltip="CHAT"  matTooltipPosition="right">chat</mat-icon>
            </a>
            <!-- <span class="nav-item" style="color:#004D87">Settings</span> -->
        </li>

        <li>
            <a routerLink="/profile" class="logo">
                <mat-icon style="margin-left: -10px; width: 40px; height: 31px;"
                #tooltip="matTooltip"  matTooltip="PROFILE"  matTooltipPosition="right">account_circle</mat-icon>
            </a>
            <!-- <span class="nav-item" style="color:#004D87">Profile</span> -->
        </li>

        <li>
            <a routerLink="/settings" class="logo">
                <mat-icon style="margin-left: -10px; width: 40px; height: 31px;"
                #tooltip="matTooltip"  matTooltip="SETTINGS"  matTooltipPosition="right">settings</mat-icon>
            </a>
            <!-- <span class="nav-item" style="color:#004D87">Settings</span> -->
        </li>

        <li>
            <a routerLink="/notifications" class="logo">
                <mat-icon style="margin-left: -10px; width: 40px; height: 31px;"
                #tooltip="matTooltip"  matTooltip="NOTIFICATIONS"  matTooltipPosition="right">notifications_active</mat-icon>
            </a>
            <!-- <span class="nav-item" style="color:#004D87">Notifications</span> -->
        </li>

        <li>
            <a routerLink="/reminder" class="logo">
                <mat-icon style="margin-left: -10px; width: 40px; height: 31px;"
                #tooltip="matTooltip"  matTooltip="REMINDERS"  matTooltipPosition="right">query_builder</mat-icon>
            </a>
            <!-- <span class="nav-item" style="color:#004D87">Reminders</span> -->
        </li>

        <li>
            <a routerLink="/audit" class="logo">
                <mat-icon style="margin-left: -10px; width: 38px; height: 31px;"
                #tooltip="matTooltip"  matTooltip="AUDIT TRAILS"  matTooltipPosition="right">history</mat-icon>
            </a>
            <!-- <span class="nav-item" style="color:#004D87">Reminders</span> -->
        </li>


        <li>
            <a routerLink="/logout" id="logoo" class="logout">
                <mat-icon style=" margin-left: -10px; width: 40px; height: 30px;"
                #tooltip="matTooltip"  matTooltip="LOGOUT"  matTooltipPosition="right">exit_to_app</mat-icon><br><br>
                <!-- <p style="color:#004D87; font-size: 18px; font-weight: 500; margin-top: 30px; margin-left: -42px;"> Logout</p> -->
            </a>
        </li>

    </ul>

</nav>
<!--Nav ends here-->

 <!--<h1 class="prof">Profile</h1>-->
 
 <div class="container">
  <mat-card-content>
  
  <div class="container mt-4">
          <h1 class="docDoc">Profile</h1>
  <div class="container cont">
  
    <form [formGroup]="myForm">
    
      <mat-form-field appearance="fill" class="docTag" style="width: 100%;">
        <mat-label>Firstname</mat-label>
        <input type="text" matInput name="first_name" placeholder="Enter your Firstname" 
        #first_name formControlName="first_name" [ngModel]="profile_details?.first_name" required>
      </mat-form-field><br>

      <mat-form-field appearance="fill" class="docTag" style="width: 100%;">
        <mat-label>Middlename</mat-label>
        <input type="text" matInput name="middle_name" placeholder="Enter your Middlename" 
        #middle_name formControlName="middle_name" [ngModel]="profile_details?.middle_name" required>
      </mat-form-field><br>

      <mat-form-field appearance="fill" class="docTag" style="width: 100%;">
        <mat-label>Lastname</mat-label>
        <input type="text" matInput name="last_name" placeholder="Enter your Lastname" 
        #last_name formControlName="last_name" [ngModel]="profile_details?.last_name" required>
      </mat-form-field><br>

      <mat-form-field appearance="fill" class="docTag" style="width: 100%;">
        <mat-label>Mobile</mat-label>
        <input type="number" matInput name="mobile" placeholder="Enter your Mobile number" 
        #mobile formControlName="mobile" [ngModel]="profile_details?.mobile" required>
      </mat-form-field><br>

      <mat-form-field appearance="fill" class="docTag" style="width: 100%;">
        <mat-label>Email</mat-label>
        <input type="email" matInput name="email" placeholder="Enter your Email Id" 
        #email formControlName="email" [ngModel]="profile_details?.email" required>
      </mat-form-field><br>

      <mat-form-field appearance="fill" class="docTag" style="width: 100%;">
        <mat-label>Password</mat-label>
        <input type="password" [type]="hide ? 'password' : 'text'" matInput name="password" placeholder="Enter your Password" 
         #password formControlName="password" [ngModel]="profile_details?.password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field><br>

      <!--<mat-form-field appearance="fill" class="docTag" style="width: 100%;">
        <mat-label>Country</mat-label>
        <input type="text" matInput name="country" placeholder="Enter your Country" 
        #country formControlName="country" [ngModel]="profile_details?.country" required>
      </mat-form-field><br>

      <mat-form-field appearance="fill" class="docTag" style="width: 100%;">
        <mat-label>Gender</mat-label>
        <mat-select placeholder="Enter your Gender" 
        #gender formControlName="gender" [ngModel]="profile_details?.gender" required>
          <mat-option *ngFor="let item of Gender" [value]="item.name">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field><br>
   
      <mat-form-field appearance="fill" class="docTag" style="width: 100%;">
        <mat-label>Ethnicity</mat-label>
        <mat-select placeholder="Enter Ethnicity" 
         #ethnicity formControlName="ethnicity" [ngModel]="profile_details?.ethnicity" required>
          <mat-option *ngFor="let item of Ethnicity" [value]="item.name">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field><br>
  
      <mat-form-field appearance="fill" class="docTag" style="width: 100%;">
        <mat-label>Height</mat-label>
        <input type="number" matInput name="height" placeholder="Enter your Height" 
        #height formControlName="height" [ngModel]="profile_details?.height" required>
      </mat-form-field><br>
    
      <mat-form-field appearance="fill" class="docTag" style="width: 100%;">
        <mat-label>Weight</mat-label>
        <input type="number" matInput name="weight" placeholder="Enter your Weight" 
        #weight formControlName="weight" [ngModel]="profile_details?.weight"required>
      </mat-form-field><br>
    
            <mat-form-field appearance="fill" class="docTag" style="width: 100%;">
        <mat-label>Blood Group</mat-label>
        <mat-select placeholder="Enter Blood Group" 
        #bloodGroup formControlName="bloodGroup" [ngModel]="profile_details?.bloodGroup" required>
          <mat-option *ngFor="let item of Blood" [value]="item.name">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field><br>-->
      
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Date Of Birth</mat-label>
        <input matInput name="dob" placeholder="Enter your DOB" formControlName="dob" [ngModel]="profile_details?.dob" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field><br>

  
       <div mat-dialog-actions class="docBut pull-right">
        <button mat-raised-button class="btn btn-danger" style="background-color: red;"><b
            style="color: white;">Cancel</b></button> &nbsp;
        <button mat-raised-button class="btn btn-success" type="submit" (click)="saveMe(id)" style="background-color: rgb(4, 140, 4)"
          cdkFocusInitial><b style="color: white;">Save</b></button>
      </div>
    </form>
    
    </div></div>
  
  
  </mat-card-content>
  </div>
  
  
</body>





  