<body>
  <div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>


  <div class="container">
    <div class="card">
      <h1 class="title" style="font: normal normal 400 2.5rem Gill sans;">Bye Bye!</h1>
      <p class="subtitle" style="font: normal normal 500 1.2rem Gill sans;">You have been logged out. <br> Login Again?</p>
      <button class="btn" [routerLink]="['/login']">
        <a href="/login" style="color: white; font: normal normal 600 1rem Gill sans;">
          Go to Homepage
        </a>
      </button>
    </div>
  </div>
</body>