@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.logout-css{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
	font-family:70'Poppins', sans-serif;
	perspective:800px;
}
.logout-btn {
    border: 2px solid #078f8f;
    padding: 5px;
    border-radius: 5px;
    background-color: #078f8f;
    /*#1a2329*/
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.Card{
	position:relative;
	text-align:center;
	width:280px;
	height:300px;
	border-radius:74% 82% 70% 88%;
	display:table;
	padding:20px;
	background-color:rgba(255,255,255,.9);
	cursor:pointer;
	z-index:1;
	transition:.5s;
	color:#227093;
}
.Card:before,
.Card:after{
	content:'';
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:-1;
	animation:RotateDiv 5s linear infinite;
}
.Card:before{
	border-radius:130% 151% 189% 166%;
	background-color:rgba(255,255,255,.7);
	animation-delay:0s;
	transition:.5s;
}
.Card:after{
	border-radius:145% 86% 80% 90%;
	background-color:rgba(255,255,255,.3);
	animation-delay:.2s;
	transition:.5s;
}
.Card:hover{
	background-color: white;
	color: #078f8f;
}

.Card div{
	display:table-cell;
	vertical-align:middle;
}
.Card div h2{
	font-size:25px;
}
.Card div p{
	margin-top:20px;
	font-size:18px;
}
@keyframes RotateDiv{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}
body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

/*  Bg blue
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Nunito", sans-serif;
}

body {
  background: #1f1f47
}
*/
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.card {
  width: 400px;
  min-height: 250px;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 18px );
  -webkit-backdrop-filter: blur( 18px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 1rem;
  padding: 1.5rem;
  z-index: 10;
  /* color: whitesmoke; */
}

.title {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.btn {
  background: none;
  border: none;
  text-align: center;
  font-size: 1rem;
  color: whitesmoke;
  background-color: #078f8f;
  padding: 0.8rem 1.8rem;
  border-radius: 2rem;
  cursor: pointer;
}
.btn:hover{
	background-color: black;

}




