@import url('~font-awesome/css/font-awesome.min.css');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font: normal normal 200 2rem Gill sans;
}

body {
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  left: 0;
}

nav {
  z-index: 999;
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background: #d9e8f8;
  width: 55px;
  /*nav width*/
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0);
}


.logo {
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  margin: 10px 0 0 10px;
}

.logo img {
  width: 40px;
  height: 45px;
  border-radius: 50%;
  top: 0px;
  left: 0px;

  margin: -5px;
}

.logo span {
  font-weight: 600;
  padding-left: 2px;
  font-size: 18px;
  text-transform: uppercase;
}

a {
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: table;
  width: 300px;
  padding: 5px;
}

.nav-item {
  position: relative;
  top: -10px;
  margin-left: 18px;
  font-size: 16px;
  font-weight: 500;
}

a:hover {
  background: none;
}

.logout {
  position: absolute;
  bottom: 0px;
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  margin: 8px 0 0 8px;
}

.material-icons {
  font-family: 'Material Icons' !important;
}

.mat-icon{
  color: #333738;
}

.mat-icon:hover {
    color: rgb(116, 116, 116);
  }

/*....Nav ends hereee....*/

 /*     Notifications    */


.home {
    text-align: center;
    color: rgb(1, 75, 75);
    letter-spacing: 0.15rem;
    font: normal normal 500 2.5rem Gill sans;
  }
  
  /****   ....    ****/
  
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  @media screen and (min-width: 800px) and (max-width:1000px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Media css for cards above 320px */
  @media screen and (min-width: 300px) and (max-width:800px) {
   
  
    body {
      background: #FFFFFF;
      position: absolute;
      top: 0;
      bottom: 0;
      height: 198%;
      width: 100%;
      left: 0;
    }

    .home{
      float: right;
      margin-right: -80px;
      margin-top: -20px;
    }
    /*Input type serach border color*/
    input[type=search] {
      border: 0.5px solid #ccc;
      border-radius: 10px;
      resize: vertical;
      width: 300px;
      height: 40px;
      float: right;
      margin-right: -210px;
    }

    #insearch{
      position: fixed;
      height: 40px;
      float: right;
      margin-top: -5px;
      margin-right: -520px;
    }
  }
  
  /* Media css for cards above 375px */
  @media screen and (min-width: 375px) and (max-width:800px) {
   
  
    body {
      background: #FFFFFF;
      position: absolute;
      top: 0;
      bottom: 0;
      height: 198%;
      width: 100%;
      left: 0;
    }
    .home{
      float: right;
      margin-right: -80px;
      margin-top: -20px;
    }
    input[type=search] {
      border: 0.5px solid #ccc;
      border-radius: 10px;
      resize: vertical;
      width: 300px;
      height: 40px;
      float: right;
      margin-right: -170px;
    }

    #insearch{
      position: fixed;
      height: 40px;
      float: right;
      margin-top: -5px;
      margin-right: -500px;
    }
  }
  
  /* Media css for cards above 425px */
  @media screen and (min-width: 425px) and (max-width:800px) {
  
    body {
      background: #FFFFFF;
      position: absolute;
      top: 0;
      bottom: 0;
      height: 198%;
      width: 100%;
      left: 0;
    }
    .home{
      float: right;
      margin-right: 10px;
      margin-top: -20px;
    }
    input[type=search] {
      border: 0.5px solid #ccc;
      border-radius: 10px;
      resize: vertical;
      width: 300px;
      height: 40px;
      float: right;
      margin-right: -100px;
    }

    #insearch{
      position: fixed;
      height: 40px;
      float: right;
      margin-top: -1px;
      margin-right: -430px;
    }
  }
  
  /* Media css for cards above 768px Tablets */
  @media screen and (min-width: 768px) and (max-width:800px) {
  
  
    body {
      background: #FFFFFF;
      position: absolute;
      top: 0;
      bottom: 0;
      height: 198%;
      width: 100%;
      left: 0;
    }

    .home{
      float: right;
      margin-right: 210px;
      margin-top: -10px;
    }
  }
  
  /* Media css for cards above 1024px */
  @media screen and (min-width: 1024px) and (max-width:1050px) {
  
    body {
      background: #FFFFFF;
      position: absolute;
      top: 0;
      bottom: 0;
      height: 198%;
      width: 100%;
      left: 0;
    }
  }
  
  /* Media css for cards 800 inspect */
  @media screen and (min-width: 800px) and (max-width:990px) {
  
    body {
      background: #FFFFFF;
      position: absolute;
      top: 0;
      bottom: 0;
      height: 198%;
      width: 100%;
      left: 0;
    }
  }
  
  
  input[type=search] {
    border: 0.5px solid #ccc;
    border-radius: 10px;
    resize: vertical;
    height: 40px;
  }

  .container  {
    background: white;
    margin: 0;
    border-radius: 10px;
    padding: 8px;
  /*  box-shadow: 5px 5px 8px rgb(135, 135, 135); */
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td {
    text-align: left;
    padding: 8px;
    font: normal normal 500 1rem Gill sans;
  }
  
  th {
    text-align: left;
    padding: 8px;
    font: normal normal 700 1.4rem Gill sans;
    
  }
  .content{
    font: normal normal 700 1.4rem Gill sans;
  }
  
  tr:nth-child(even) .mat-raised-button {
    width: 120px;
    height: 50px;
    color: white;
    margin-left: 50px;
  }
  
  h1 {
    font: normal normal 400 2rem Gill sans;
  }
  
  .container {
    margin-left: 148px;
    width: 80%;
  }
  
  .box {
    top: 448px;
    left: 170px;
    width: 1096px;
    height: 20px;
    background: #EEEEEE 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 3px #00000033;
    border: 1px solid #E6E6E6;
    border-radius: 15px;
    opacity: 1;
    box-sizing: border-box;
  }
  
  /***    Resposive for Reminder Table****/
  @media screen and (min-width: 300px) and (max-width:800px) {
    .container {
      margin-left: 80px;
      width: 80%;
    }
  }
  
  /* Media css for cards above 375px */
  @media screen and (min-width: 375px) and (max-width:800px) {
   
    .container {
      margin-left: 70px;
      width: 90%;
    }
  }
  
  /* Media css for cards above 425px */
  @media screen and (min-width: 425px) and (max-width:800px) {
    .container {
      margin-left: 70px;
      width: 90%;
    }
  }
  
  /* Media css for cards above 768px Tablets */
  @media screen and (min-width: 768px) and (max-width:800px) {
    .container {
      margin-left: 70px;
      width: 90%;
    }
  }
  
  /* Media css for cards above 1024px */
  @media screen and (min-width: 1024px) and (max-width:1050px) {
    .container {
      margin-left: 148px;
      width: 80%;
    }
  }
  
  /* Media css for cards 800 inspect */
  @media screen and (min-width: 800px) and (max-width:990px) {
    .container {
      margin-left: 148px;
      width: 80%;
    }
  }
  
  @media screen and (min-width: 2560px) and (max-width:3000px) {
    .container {
  margin-left: 600px;
  width: 100%;
    }
  }

  /*    Cards    
  .container {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0 auto;
    max-width: 992px;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    width: 400px;
    height: 180px;
    position: relative;
    background: var(--bg);
    cursor: pointer;
  }
  
  .card > .card-content {
    content: '';
    position: absolute;
    top: -0.1px;
    left: -0.1px;
    width: 100.1%;
    height: 100.1%;
    background-size: cover;
    background-position: center;
    background-color: #eaf0f0;
    transition: top 0.2s, left 0.2s;
  }
  
  .card:hover > .card-content {
    left: 8px;
    top: -8px;
  }
  
  .card::before, .card::after {
    content: '';
    position: absolute;
    transform: scale(0);
    transition: transform 0.2s;
  }
  
  .card::before {
    top: -8px;
    left: 0;
    border-top: 8px solid transparent;
    border-right: 8px solid var(--bg);
    transform-origin: bottom left;
  }
  
  .card::after {
    bottom: 0;
    right: -8px;
    border-bottom: 8px solid transparent;
    border-left: 8px solid var(--bg);
    transform-origin: bottom left;
  }
  
  .card:hover::before, .card:hover::after {
    transform: scale(1);
  }

  */

 /** Table design   */
/*container box**/
.container  {
  background: white;
  margin: 0;
  border-radius: 10px;
  padding: 8px;
/*  box-shadow: 5px 5px 8px rgb(135, 135, 135); */
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: left;
  padding: 8px;
  font: normal normal 500 1rem Gill sans;
}

th {
  text-align: left;
  padding: 8px;
  font: normal normal 700 1rem Gill sans;
}

tr:nth-child(even) .mat-raised-button {
  width: 120px;
  height: 50px;
  color: white;
  margin-left: 50px;
}

h1 {
  font: normal normal 400 2rem Gill sans;
}

.container {
  margin-left: 148px;
  width: 80%;
}

.box {
  top: 448px;
  left: 170px;
  width: 1096px;
  height: 20px;
  background: #EEEEEE 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 3px #00000033;
  border: 1px solid #E6E6E6;
  border-radius: 15px;
  opacity: 1;
  box-sizing: border-box;
}

/***    Resposive for Reminder Table****/
@media screen and (min-width: 300px) and (max-width:800px) {
  .container {
    margin-left: 80px;
    width: 80%;
  }
}

/* Media css for cards above 375px */
@media screen and (min-width: 375px) and (max-width:800px) {
 
  .container {
    margin-left: 70px;
    width: 90%;
  }
}

/* Media css for cards above 425px */
@media screen and (min-width: 425px) and (max-width:800px) {
  .container {
    margin-left: 70px;
    width: 90%;
  }
}

/* Media css for cards above 768px Tablets */
@media screen and (min-width: 768px) and (max-width:800px) {
  .container {
    margin-left: 70px;
    width: 90%;
  }
}

/* Media css for cards above 1024px */
@media screen and (min-width: 1024px) and (max-width:1050px) {
  .container {
    margin-left: 148px;
    width: 80%;
  }
}

/* Media css for cards 800 inspect */
@media screen and (min-width: 800px) and (max-width:990px) {
  .container {
    margin-left: 148px;
    width: 80%;
  }
}

@media screen and (min-width: 2560px) and (max-width:3000px) {
  .container {
margin-left: 600px;
width: 100%;
  }
}



