<html>

<body>
    <nav>

        <ul>
            <li>
                <a href="https://vitagist.com/" class="logo">
                    <img src="../../assets/vg.png" style="margin-left: -10px;" alt="">
                    <!-- <div class="nav-item">
                        <span style="color:#004D87; font-weight: 500; font-size: 25px;">Vita</span> 
                        <span style="color: orangered; font-weight: 500; font-size: 25px;">Gist</span>
                    </div>  -->
                </a>
                <!-- <span style="color:#004D87; font-weight: 500; font-size: 23px;">V</span>
                <span style="color: orangered; font-weight: 500; font-size: 23px;">G</span> -->
            </li>

            <li>
                <a routerLink="/side-bar" class="logo">
                    <mat-icon style="margin-left: -10px; width: 40px; height: 31px;"
                     #tooltip="matTooltip"  matTooltip="HOME"  matTooltipPosition="right">home</mat-icon>
                </a>
                <!-- <span class="nav-item" style="color:#004D87">Home</span> -->
            </li>

            <li>
                <a routerLink="/document" class="logo">
                    <mat-icon style="margin-left: -10px; width: 40px; height: 31px;"
                    #tooltip="matTooltip"  matTooltip="DOCUMENTS"  matTooltipPosition="right">library_books</mat-icon>
                </a>
                <!-- <span class="nav-item" style="margin-left: 4px; color:#004D87">Document</span> -->
            </li>

            <li>
                <a routerLink="/connections" class="logo">
                    <mat-icon style="margin-left: -10px; width: 40px; height: 31px;"
                    #tooltip="matTooltip"  matTooltip="CONNECTIONS"  matTooltipPosition="right">group_add</mat-icon>
                </a>
            </li>

            <li>
                <a routerLink="/health" class="logo">
                    <mat-icon style="margin-left: -10px; width: 40px; height: 31px;"
                    #tooltip="matTooltip"  matTooltip="HEALTH"  matTooltipPosition="right">favorite_border</mat-icon>
                </a>
            </li>

            <li>
                <a routerLink="/chat" class="logo">
                    <mat-icon style="margin-left: -10px; width: 40px; height: 31px;"
                    #tooltip="matTooltip"  matTooltip="CHAT"  matTooltipPosition="right">chat</mat-icon>
                </a>
                <!-- <span class="nav-item" style="color:#004D87">Settings</span> -->
            </li>

            <li>
                <a routerLink="/profile" class="logo">
                    <mat-icon style="margin-left: -10px; width: 40px; height: 31px;"
                    #tooltip="matTooltip"  matTooltip="PROFILE"  matTooltipPosition="right">account_circle</mat-icon>
                </a>
                <!-- <span class="nav-item" style="color:#004D87">Profile</span> -->
            </li>

            <li>
                <a routerLink="/settings" class="logo">
                    <mat-icon style="margin-left: -10px; width: 40px; height: 31px;"
                    #tooltip="matTooltip"  matTooltip="SETTINGS"  matTooltipPosition="right">settings</mat-icon>
                </a>
                <!-- <span class="nav-item" style="color:#004D87">Settings</span> -->
            </li>

            <li>
                <a routerLink="/notifications" class="logo">
                    <mat-icon style="margin-left: -10px; width: 40px; height: 31px;"
                    #tooltip="matTooltip"  matTooltip="NOTIFICATIONS"  matTooltipPosition="right">notifications_active</mat-icon>
                </a>
                <!-- <span class="nav-item" style="color:#004D87">Notifications</span> -->
            </li>

            <li>
                <a routerLink="/reminder" class="logo">
                    <mat-icon style="margin-left: -10px; width: 40px; height: 31px;"
                    #tooltip="matTooltip"  matTooltip="REMINDERS"  matTooltipPosition="right">query_builder</mat-icon>
                </a>
                <!-- <span class="nav-item" style="color:#004D87">Reminders</span> -->
            </li>

            <li>
                <a routerLink="/audit" class="logo">
                    <mat-icon style="margin-left: -10px; width: 38px; height: 31px;"
                    #tooltip="matTooltip"  matTooltip="AUDIT TRAILS"  matTooltipPosition="right">history</mat-icon>
                </a>
                <!-- <span class="nav-item" style="color:#004D87">Reminders</span> -->
            </li>


            <li>
                <a routerLink="/logout" id="logoo" class="logout">
                    <mat-icon style=" margin-left: -10px; width: 40px; height: 30px;"
                    #tooltip="matTooltip"  matTooltip="LOGOUT"  matTooltipPosition="right">exit_to_app</mat-icon><br><br>
                    <!-- <p style="color:#004D87; font-size: 18px; font-weight: 500; margin-top: 30px; margin-left: -42px;"> Logout</p> -->
                </a>
            </li>

        </ul>

    </nav>
    <!--Nav ends here-->

    <br>
    <p class="home">Settings</p>
    <br>

    <!-- <div class="row">
        <div class="column">
            <mat-card class="card">
                <a class="proBox btnbtn" [routerLink]="['/profile']">
                    <i class="fa fa-user" style="color:#034261; font-size:70px; "></i> <br>
                    <h3 class="h"> <u> <b style="font-family: 'Gill Sans'; font-size: 20px; font-weight: 600; ">Profile</b></u>
                    </h3>
                </a>
                <!--arrow icons
                   <a class="leftBox1" [routerLink]="['/profile']">
                    <i class="fa fa-long-arrow-right" style="color:#034261; font-size:50px" aria-hidden="true"></i>
                    </a> 
            </mat-card>

            <mat-card class="card btnbtn" style="margin-top: 20px;">
                <a class="logBox" [routerLink]="['/logout']">
                    <i class="fa fa-sign-out" style="color:#034261; font-size:70px"></i> <br>
                    <h3 class="h"> <u> <b style="font-family: 'Gill Sans';font-size: 20px; font-weight: 600;">Logout</b></u>
                    </h3>
                </a>
                <!--arrow icons
                <a class="leftBox2" [routerLink]="['/logout']">
                    <i class="fa fa-long-arrow-right" style="color:#034261; font-size:50px" aria-hidden="true"></i>
                    </a> 
            </mat-card>
        </div>     
    </div>  -->


  <!--<div class="courses-container">
        <div class="course" [routerLink]="['/profile']">
            <div class="course-preview">
                <i class="fa fa-user" style="font-size:90px; color: white;"></i>
            </div>
            <div class="course-info">
                <h1 class="ccp" style="font: normal normal 500 2rem Gill sans;">Profile</h1>

                <button class="btnoh" [routerLink]="['/profile']">
                    <i class="fa fa-long-arrow-right" aria-hidden="true" style="font-size:30px; text-align: center; color: white;"></i>
                </button>
            </div>
        </div>
   </div>

        <div class="courses-container">
        <div class="course" [routerLink]="['/logout']">
            <div class="course-preview">
                <i class="fa fa-sign-out" style="font-size:90px; color: white;"></i>
            </div>
            <div class="course-info">
                <h1 class="ccp" style="font: normal normal 500 2rem Gill sans;">Logout</h1>

                <button class="btnoh" [routerLink]="['/logout']">
                    <i class="fa fa-long-arrow-right" aria-hidden="true" style="font-size:30px; text-align: center; color: white;"></i>
                </button>
            </div>
        </div>
    </div>-->

    <div class="courses-container">
        <div class="course" [routerLink]="['/profile']">
            <div class="course-preview">
                <i class="fa fa-user-circle" style="font-size:78px; color: white;"></i>
            </div>
            <div class="course-info">
                <h1 class="ccp" style="font: normal normal 500 2rem Gill sans;">Profile</h1>

                <button class="btnoh" [routerLink]="['/profile']">
                    <i class="fa fa-long-arrow-right" aria-hidden="true" style="font-size:30px; text-align: center; color: white;"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="courses-container">
        <div class="course" [routerLink]="['/logout']">
            <div class="course-preview">
                <i class="fa fa-sign-out" style="font-size:80px; color: white;"></i>
            </div>
            <div class="course-info">
                <h1 class="ccp" style="font: normal normal 500 2rem Gill sans;">Logout</h1>

                <button class="btnoh" [routerLink]="['/logout']">
                    <i class="fa fa-long-arrow-right" aria-hidden="true" style="font-size:30px; text-align: center; color: white;"></i>
                </button>
            </div>
        </div>
    </div>




</body>

</html>